@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* HTML */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.4;
}

body {
  font-family: 'fira-sans', sans-serif;
  
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  color: #b9005f;
}

h2 {
  font-size: 2.2rem;
  font-weight: 600;
  color: #b9005f;
}

h3 {
  font-size: 1.6rem;
  font-weight: 600;
  color: #b9005f;
}



p {
  font-size: 1.2rem;
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
  margin: 0rem 10%;
  margin-top: 1rem;
}

.site-identity img {
  width: 19rem;
  margin-top: 0rem;

}

/* nev bar*/

.header-nav-bar {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  z-index: 4;
  gap: 2rem;
}

.header-nav {
  list-style: none;
  display: flex;
}

.header-nav a {
  color: black;
  text-decoration: none;
  font-size: 1.2rem;

}

.header-nav li {
  margin-left: 1rem;
  z-index: 2;
}

.header-nav li a {
  transition: all 0.3s ease 0s;
  padding: 1.3rem 0;

}

.header-nav li a:hover {
  color: #b9005f;
}

/* social media */

.socialmedias-button {
  display: flex;
  justify-content: flex-end;
}

.button {
  display: inline-block;
  height: 40px;
  width: 40px;
  margin: 0 5px;
  overflow: hidden;
  background: #fff;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-out;
}

.header-nav-bar .button:hover {
  width: 160px;
}

.header-nav-bar .button .icon {
  display: inline-block;
  height: 40px;
  width: 40px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 40px;
  transition: all 0.3s ease-out;
}

.header-nav-bar .button:nth-child(1):hover .icon {
  background: #4267B2;
}

.header-nav-bar .button:nth-child(2):hover .icon {
  background: #1DA1F2;
}

.header-nav-bar .button:nth-child(3):hover .icon {
  background: #E1306C;
}

.header-nav-bar .button:nth-child(4):hover .icon {
  background: #333;
}

.header-nav-bar .button:nth-child(5):hover .icon {
  background: #ff0000;
}

.header-nav-bar .button .icon i {
  font-size: 20px;
  line-height: 40px;
  transition: all 0.3s ease-out;
}

.header-nav-bar .button:hover .icon i {
  color: #fff;
}

.header-nav-bar .button span {
  font-family: 'barlow';
  font-size: 20px;
  font-weight: 500;
  margin-left: 10px;
  transition: all 0.3s ease-out;
}

.header-nav-bar .button:nth-child(1) span {
  color: #4267B2;
}

.header-nav-bar .button:nth-child(2) span {
  color: #1DA1F2;
}

.header-nav-bar .button:nth-child(3) span {
  color: #E1306C;
}

.header-nav-bar .button:nth-child(4) span {
  color: #333;
}

.header-nav-bar .button:nth-child(5) span {
  color: #ff0000;
}

.header-nav-bar .button a {
  text-decoration: none;
  color: #b9005f;
}

/* hoofd img */

.menu {
  width: 100vw;
  height: 55vh;
  position: relative;
  margin-top: -5rem;
}

img {
  object-fit: cover;
  width: inherit;
  height: inherit;
  clip-path: url(#mask1);
  -webkit-clip-path: url(#mask1);
}

/* crumb */
ul.crumb li {
  margin: 2rem 0;
  display: inline;
  font-size: 1rem;
  font-family: 'fira-sans', sans-serif;
  font-weight: 500;
}

ul.crumb li+li:before {
  padding: 8px;
  content: "/\00a0";

}

ul.crumb a {
  color: #0b5086;
  text-decoration: underline;
}

/* body */

main {
  margin: 0rem 10%;
  margin-top: 3rem;
}

.content {
  width: 65%;
}



.intro,
.ankerpoint,
.title {
  margin-bottom: 3rem;
}

.Richtlijn{
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.ankerpoint {
  list-style: none;
  font-size: 1.2rem;
}

.ankerpoint a {
  font-weight: 500;
  color: black;
  text-decoration: none;
}

.ankerpoint ul a {
  transition: all 0.3s ease 0s;
}

.ankerpoint li {
  padding: 0.5rem 0;
  margin: 0.5rem 0;
  list-style-position: inside;
  text-decoration: underline;
  text-underline-position: under;
}

.ankerpoint ul a:hover {
  color: #b9005f;
}


/* details summery */

details {
  margin-bottom: 1rem;
  border-radius: 10px;
  box-shadow: 0px 0px 20px #0022;
  background-color: #fff;

  
}

details [open] {
  padding-bottom: 20px;
}

details>summary {
  background-color: #B9005F;
  color: #fff;
  border-radius: 10px;
  padding: 1rem;
}

details summary h3{
  color: #fff;
}

details[open]>summary {
  background-color: #B9005F;
  color: white;
  padding: 1rem;
  border-radius: 10px 10px 0 0;
}

details summary h3 {
  font-size: 1.2rem;
}

details>summary> * {
  display: inline-block;

}

.checkmark {
  margin-right: 1rem;
}

input {
  width: 40px;
  height: 40px;
  float: right;
  transition: box-shadow .3s;
  box-shadow: 0px 0px 100px #0022;
  border-radius: 10px;
  background: #fff;
  cursor: pointer;
  border: 0;
  appearance: none;
  -webkit-appearance: none;
}

input:checked {
  box-shadow: inset 0 0 0 20px rgb(53, 253, 53);
}


/* details content */
.detail-list {
  padding: .5rem 4rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.img-detail-list {
  width: 100%;
  margin-bottom: 3rem;
}

.detail-button {
  width: auto;
  padding: 1rem;
  margin: 1rem 1rem 0 0;
  background-color: #b9005f;
  border: none;
  font-size: 1rem;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
}


.detail-list li {
  margin: 1rem 0;
  font-size: 1.2rem;
}

